/Solucion_Codigo/ProyectoTaller3/nbproject/private/
/Solucion_Codigo/ProyectoTaller3/build/
/Solucion_Codigo/EjecutorTerreno/nbproject/private/
/Solucion_Codigo/Hora/nbproject/private/
/Solucion_Codigo/Hora/build/
/Solucion_Codigo/EjecutorHora/build/
/Solucion_Codigo/EjecutorHora/nbproject/private/
